body {
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
}
#landing-hero {
    height: calc(100vh - 40px);
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
#landing-hero h3 {
    margin: 0;
}
#landing-hero img {
    height: 100%;
    position: absolute;
    scale: 0.75;
}
#landing-hero .text {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

h1 {
    margin: 20px 0 20px 0;
}
h2 {
    margin: 20px 0 20px 0;
}
h3 {
    margin: 20px 0 20px 0;
}

.custom-shape-divider-top-1671229258 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    max-width: calc(100vw - 0px);
}
.custom-shape-divider-top-1671229258 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 78px;
}
.custom-shape-divider-top-1671229258 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1672221905 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1672221905 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 79px;
}
.custom-shape-divider-bottom-1672221905 .shape-fill {
    fill: #FFFFFF;
}

.svg-wrapper {
    background-color: #4274d0;
    overflow: hidden;
}

@media screen and (max-width: 530px) {
    #landing-hero h1 {
        font-size: 30px;
    }
    .custom-shape-divider-top-1671229258 {
        width: 150%;
    }
    .custom-shape-divider-top-1671229258 svg {
        width: 150%;
    }
    .custom-shape-divider-bottom-1672221905 {
        width: 150%;
    }
    .custom-shape-divider-bottom-1672221905 svg {
        width: 150%;
    }
}

#start {
    background-color: #4274d0;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #f6f6f6;
}

#benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 600;
    gap: 30px;
}
#benefits > .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#benefits h1 {
    margin: 10px 0 10px 0;
}

@media screen and (max-width: 1870px) {
    #benefits {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 1230px) {
    #benefits {
        grid-template-columns: none;
    }
}

#break1 {
    display: none;
}
#break2 {
    display: none;
}
@media screen and (max-width: 970px) {
    #break1 {
        display: unset;
    }
    #break2 {
        display: unset;
    }
}

#documentation {
    padding-top: 30px;
    padding-bottom: 30px;
}
#documentation ol {
    margin: 0;
    padding-left: 30px;
}
#documentation h2 {
    margin-top: 40px;
}

#chapters li {
    cursor: pointer;
}

.bi.hide {
    display: none;
}

.wfo.code.block.black.relative {
    position: relative;
    border-top-right-radius: 18px;
    min-height: 33px;
}

.wfo.absolute.top.right.button.small.black.copy {
    margin: 5px;
    padding: 5px 7px 5px 7px;
    border-radius: 17px;
    background-color: rgba(157, 157, 157, 0.75);
    min-width: unset;
}

.wfo.padding.sides.standard.showcase {
    border: grey solid 2px;
    border-radius: 10px;
}
.wfo.padding.sides.standard.showcase > p {
    border-left: grey solid 2px;
    border-right: grey solid 2px;
    margin: 0;
    padding: 5px;
}

.wfo.margin.sides.standard.showcase {
    border: grey solid 2px;
    border-radius: 10px;
    padding: 5px;
}

.wfo.text.center.showcase {
    border: grey solid 2px;
    border-radius: 10px;
    padding: 5px;
}
.wfo.text.block.showcase {
    border: grey solid 2px;
    border-radius: 10px;
    padding: 5px;
}

.absolute.corner.showcase {
    min-height: 70px;
    border: grey solid 2px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}
.absolute.corner.showcase > div {
    padding: 5px;
}

.underline.showcase > p {
    margin: 0;
}

.showcase.dark {
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.code.showcase.dark > div {
    margin-top: 10px;
}
.code.showcase.light > div {
    margin-top: 10px;
}

.tab.showcase > .wfo.tab {
    background-color: #bcbcbc;
}
.showcase.dark.panel {
    padding-top: 1px;
}

.showcase.badge span {
    margin-top: 10px;
}
.showcase.badge input {
    margin-top: 10px;
}
.showcase.badge select {
    margin-top: 10px;
}
.showcase.dark.badge {
    padding-top: 0;
    margin-bottom: 0;
}

.expand.showcase {
    background-color: rgba(88, 88, 88, 0.3);
    border-radius: 5px;
    padding: 10px;
}

.wfo.expand.wrapper.doc > .wfo.expand.toggle {
    margin-bottom: 20px;
}
.wfo.expand.wrapper.doc > .wfo.expand.content {
    margin-bottom: 20px;
}

.shadow.white.showcase {
    color: white;
}
.shadow.showcase {
    padding: 5px;
    border-radius: 5px;
}