.wfo.semi-bold {
    font-weight: 600;
}
.wfo.bold {
    font-weight: 700;
}

.wfo.text.center {
    text-align: center;
}
.wfo.text.block {
    text-align: justify;
}

.wfo.underline {
    text-decoration: underline currentColor;
}
.wfo.underline.magenta {
    text-decoration: underline #DF058D;
}
.wfo.underline.blue {
    text-decoration: underline #0034FF;
}
.wfo.underline.red {
    text-decoration: underline #FF001E;
}

.wfo.chunky.underline.magenta {
    background: linear-gradient(0deg, rgba(255, 209, 0, 0) 0% ,#DF058D 0%, #DF058D 40%, rgba(255, 209, 0, 0) 40%);
    text-decoration: none;
}
.wfo.chunky.underline.blue {
    background: linear-gradient(0deg, rgba(255, 209, 0, 0) 0% , #0034ff 0%, #0034ff 40%, rgba(255, 209, 0, 0) 40%);
    text-decoration: none;
}
.wfo.chunky.underline.red {
    background: linear-gradient(0deg, rgba(255, 209, 0, 0) 0% , #ff001e 0%, #ff001e 40%, rgba(255, 209, 0, 0) 40%);
    text-decoration: none;
}

.wfo.comment {
    opacity: 0.7;
}

.wfo.tab {
    padding-left: 20px;
}

.wfo.shadow.white {
    box-shadow: 0 0 10px rgb(65, 65, 65);
}
.wfo.shadow.whiter {
    box-shadow: 0 0 10px rgb(97, 97, 97);
}
.wfo.shadow.black {
    box-shadow: 0 0 10px rgb(109, 109, 109);
}
.wfo.shadow.blacker {
    box-shadow: 0 0 10px rgb(109, 109, 109);
}

.wfo.code {
    font-family: monospace;
    font-size: 105%;
    background-color: rgba(222,222,222,0.3);
    opacity: .9;
}
.wfo.code.block {
    padding: 5px;
    border-radius: 5px;
}
.wfo.code.white {
    background-color: rgba(195, 195, 195, 0.36);
}
.wfo.code.whiter {
    background-color: rgba(255, 255, 255, 0.57);
}
.wfo.code.black {
    background-color: rgba(88, 88, 88, 0.3);
}
.wfo.code.blacker {
    background-color: rgba(88, 88, 88, 0.67);
}

.wfo.padding.sides.standard {
    padding-left: 20%;
    padding-right: 20%;
}
@media screen and (max-width: 810px) {
    .wfo.padding.sides.standard {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.wfo.absolute.top.right {
    position: absolute;
    right: 0;
    top: 0;
}
.wfo.absolute.top.left {
    position: absolute;
    left: 0;
    top: 0;
}
.wfo.absolute.bottom.right {
    position: absolute;
    right: 0;
    bottom: 0;
}
.wfo.absolute.bottom.left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.wfo.margin.sides.standard {
    margin-left: 20%;
    margin-right: 20%;
}
@media screen and (max-width: 810px) {
    .wfo.margin.sides.standard {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.wfo.panel {
    padding: 30px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.wfo.panel.white {
    background-color: rgba(255, 255, 255, 0.25);
}
.wfo.panel.whiter {
    background-color: rgba(255, 255, 255, 0.57);
}
.wfo.panel.black {
    background-color: rgba(0, 0, 0, 0.17);
}
.wfo.panel.blacker {
    background-color: rgba(88, 88, 88, 0.67);
}

.wfo.badge {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    display: inline-block;
    min-width: 30px;
    font-size: 0.75em;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.wfo.badge.white {
    background-color: rgba(255, 255, 255, 0.25);
}
.wfo.badge.whiter {
    background-color: rgba(255, 255, 255, 0.57);
}
.wfo.badge.black {
    background-color: rgba(0, 0, 0, 0.17);
}
.wfo.badge.blacker {
    background-color: rgba(88, 88, 88, 0.67);
}

.wfo.button.small {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    border: solid 2px rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    padding: 3px 8px 3px 8px;
    font-size: 0.75em;
    transition: .2s;
    display: inline-block;
    text-align: center;
    min-width: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.wfo.button {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    border: solid 2px rgba(255, 255, 255, 0.23);
    border-radius: 50px;
    padding: 9px 9px 9px 9px;
    transition: .2s;
    display: inline-block;
    text-align: center;
    min-width: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.wfo.button.white {
    background-color: rgba(255, 255, 255, 0.25);
    border: solid 2px rgba(255, 255, 255, 0.23);
}
.wfo.button.white:hover {
    background-color: rgba(255, 255, 255, 0.32);
}
.wfo.button.whiter {
    background-color: rgba(255, 255, 255, 0.57);
    border: solid 2px rgba(255, 255, 255, 0.47);
}
.wfo.button.whiter:hover {
    background-color: rgba(255, 255, 255, 0.64);
}
.wfo.button.black {
    background-color: rgba(0, 0, 0, 0.17);
    border: solid 2px rgba(0, 0, 0, 0.34);
}
.wfo.button.black:hover {
    background-color: rgba(0, 0, 0, 0.24);
}
.wfo.button.blacker {
    background-color: rgba(88, 88, 88, 0.67);
    border: solid 2px rgba(0, 0, 0, 0.34);
}
.wfo.button.blacker:hover {
    background-color: rgba(88, 88, 88, 0.74);
}

.wfo.expand.wrapper {
    transition: .1s ease-in-out;
}
.wfo.expand.wrapper.border {
    padding: 15px;
    border: solid 2px rgba(128, 128, 128, 0.49);
    border-radius: 10px;
}
.wfo.expand.content {
    display: none;
}
.wfo.expand.toggle {
    cursor: pointer;
}
.wfo.expand.content.visible {
    display: block;
}