---
interface Props {
    id: string;
    class: string;
    href: string;
}

const { id, class:className, href } = Astro.props;
---

<div id={ id } class={ className }>
    <slot />
</div>
<style define:vars={{ href }}>
    div {
        padding: 32px;
        border-radius: 16px;
        backdrop-filter: blur(16px);
        box-shadow: inset 0 0 1px #777;
        background-image: var(--href);
        background-size: cover;
        background-position: center;
    }
    @media (prefers-color-scheme: dark) {
        div {
            box-shadow: inset 0 0 1px #FFFFFF;
        }
    }
</style>