---
interface Props {
    id: string;
    class: string;
}

const { id, class:className } = Astro.props;
---

<div id={ id } class={ className }>
    <slot />
</div>
<style>
    div {
        padding: 32px;
        border-radius: 16px;
        background: linear-gradient(175deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
        backdrop-filter: blur(16px);
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4), inset 0 0 1px #FFFFFF;
    }
    @media (prefers-color-scheme: dark) {
        div {
            background: linear-gradient(355deg, rgba(44, 44, 44, 0.4) 0%, rgba(115, 115, 115, 0.4) 100%);
        }
    }
</style>