/*General settings*/
body {
    margin: 0;
    padding: 0;
    font-family: Inter, Calibri, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    --font-size: 16px;

    font-size: var(--font-size);
    color: var(--text);
    background-color: var(--background);
}

/*Light mode*/
@media (prefers-color-scheme: light) {
    :root {
        --text: #000000;
        --background: #f4f4f4;
        --nav-background: #f4f4f4;
        --footer-background: rgba(16, 16, 16, 0.1);
        --primary: #6f18a5;
        --secondary: #ffdbf0;
        --accent: #4274d0;
    }
}
/*Dark mode*/
@media (prefers-color-scheme: dark) {
    :root {
        --text: #efefef;
        --background: #000000;
        --nav-background: #000000;
        --footer-background: rgb(16, 16, 16);
        --primary: #9e46e4;
        --secondary: #ffdbf0;
        --accent: #3976df;
    }
}

/*Helper classes*/
.sticky {
    position: sticky;
}
.highlight {
    background: linear-gradient(120deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.stand-out {
    font-size: 5em;
    margin: 0;
    padding: 0;
}
.standard-padding {
    padding-left: 15%;
    padding-right: 15%;
}
.standard-margin {
    margin-left: 15%;
    margin-right: 15%;
}
.slim-padding {
    padding-left: 40px;
    padding-right: 40px;
}
.slim-margin {
    margin-left: 40px;
    margin-right: 40px;
}
@media screen and (max-width: 810px) {
    .standard-padding, .slim-padding {
        padding-left: 20px;
        padding-right: 20px;
    }
    .standard-margin, .slim-margin {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*Basic formatting*/
img {
    max-width: 100%;
    border-radius: 16px;
}
a {
    color: var(--accent);
}
.format h1 {
    margin: 64px 0 30px 0;
}
.format h2 {
    margin: 48px 0 16px 0;
}
.format h3 {
    margin: 24px 0 8px 0;
}
.format h4 {
    margin: 16px 0 8px 0;
}
.format p {
    margin: 8px 0 8px 0;
    text-align: start;
    opacity: 0.8;
    line-height: 1.6;
}
.format ul {
    margin: 8px 0 4px 0;
    padding-left: 32px;
    text-align: justify;
    opacity: 0.8;
    line-height: 1.6;
}
.format ol {
    margin: 8px 0 4px 0;
    padding-left: 32px;
    text-align: justify;
    opacity: 0.8;
    line-height: 1.6;
}