---
interface Props {
    id: string;
    class: string;
    placeholder: string;
}

const { id, class:className, placeholder } = Astro.props;

import Button from "../button/Button.astro";
---

<div id={ id } class={ className }>
    <div class="base">
        <Button onclick="expandToggle(this)">{ placeholder }</Button>
        <div>
            <div>
                <slot />
            </div>
        </div>
    </div>
</div>
<style>
    .base > div {
        display: grid;
        grid-template-rows: 0fr;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
    }
    .base > div.active {
        grid-template-rows: 1fr;
    }
    .base > div > div {
        overflow: hidden;
    }
</style>
<script is:inline>
    function expandToggle (element) {
        element.parentElement.querySelector('div').classList.toggle('active');
    }
</script>