---
interface Props {
    id: string;
    class: string;
    placeholder: string;
}

const { id, class:className, placeholder } = Astro.props;
---

<label id={ id } class={ className }>
    <select>
        <option value="" disabled selected style="display:none">{ placeholder }</option>
        <slot />
    </select>
</label>
<style>
    select {
        padding: 12px 0;
        margin: 0 24px;
        border: none;
        outline: none;
        background-color: unset;
        font-size: 16px;
        cursor: pointer;
        color: #8e8e8e;
    }
    label {
        height: 44px;
        font-size: var(--font-size);
        text-decoration: none;
        color: inherit;
        margin: 0;
        border: none;
        border-radius: 50px;
        background-color: #d3d3d3;
        box-shadow: inset 10px 10px 32px -16px #FFFFFF;
        transition: transform 0.2s;
        display: inline-block;
    }
    @media (prefers-color-scheme: dark) {
        label {
            background-color: #3A3A3AFF;
            box-shadow: inset 10px 10px 32px -22px #FFFFFF;
        }
    }
    label:hover {
        transform: scale(1.025);
    }
    label:focus-within {
        outline: solid;
    }
</style>