---
interface Props {
    id: string;
    class: string;
    name: string;
    value: string;
    placeholder: string;
}

const { id, class:className, name, value, placeholder } = Astro.props;
---

<label id={ id } class={ className }>
    <input type="radio" value={ value } name={ name } />
    { placeholder }
</label>