.wfo.semibold {
    font-weight: 600;
}
.wfo.textcenter {
    text-align: center;
}

.wfo.chunky.underline.magenta {
    background: linear-gradient(0deg, rgba(255, 209, 0, 0) 0% ,#DF058D 0%, #DF058D 40%, rgba(255, 209, 0, 0) 40%);
}
.wfo.chunky.underline.blue {
    background: linear-gradient(0deg, rgba(255, 209, 0, 0) 0% , #0034ff 0%, #0034ff 40%, rgba(255, 209, 0, 0) 40%);
}
.wfo.chunky.underline.red {
    background: linear-gradient(0deg, rgba(255, 209, 0, 0) 0% , #ff001e 0%, #ff001e 40%, rgba(255, 209, 0, 0) 40%);
}

.wfo.comment {
    opacity: 0.7;
}

.wfo.padding.side.standard {
    padding-left: 20%;
    padding-right: 20%;
}
@media screen and (max-width: 810px) {
    .wfo.padding.side.standard {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.wfo.panel.white {
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.wfo.panel.black {
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}