---
interface Props {
    id: string;
    class: string;
    color: string;
    onclick: string;
}

const { id,  class:className, color, onclick } = Astro.props;
---

<button id={ id } class={ className } onclick={ onclick }>
    <slot />
</button>

<style define:vars={{ color }}>
    button {
        height: 44px;
        font-size: var(--font-size);
        color: inherit;
        cursor: pointer;
        padding: 12px 24px 12px 24px;
        margin: 0;
        border: none;
        border-radius: 50px;
        background: var(--color);
        box-shadow: inset 10px 10px 32px -22px #FFFFFF;
        transition: transform 0.2s;
    }
    @media (prefers-color-scheme: dark) {
        button {
            box-shadow: inset 10px 10px 32px -22px #FFFFFF;
        }
    }
    button:hover {
        transform: scale(1.025);
    }
</style>