---
interface Props {
    id: string;
    class: string;
    diameter: string;
}

const { id, class:className, diameter } = Astro.props;
---

<div id={ id } class={ className }></div>
<style define:vars={{ diameter }}>
    div {
        box-sizing: border-box;
        width: var(--diameter);
        aspect-ratio: 1 / 1;
        border: 6px solid rgba(0, 0, 0, 0);
        border-top-color: var(--text);
        border-radius: 100%;
        animation: spin 0.8s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg) }
        100% { transform: rotate(360deg) }
    }
</style>